/* ELEMENTS DEFINED IN LAYOUTS/HOME */

/* VERSION MENU DIV */
#version-menu {
  height: 100%;
  width: 100%;
}

#version-menu > #version-ol {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: var(--top-offset) calc(var(--padding-step-4)*2) calc(var(--top-offset)/2) calc(var(--padding-step-4)*2);
}

#version-menu > #version-ol > * {
  text-transform: uppercase;
}

#version-menu > #version-ol > .version-item {
  display: flex;
  padding-bottom: calc(var(--padding-step-3)*2);
  box-sizing: border-box;
  list-style: none;
}

#version-menu > #version-ol > .version-item > div {
  display: flex;
  flex-direction: column;
}

#version-menu > #version-ol > .version-item > div > span > *:not(:last-child) {
  padding-right: var(--padding-step-2);
}

#version-menu > #version-ol > .version-item > div > .version-title {
  max-width: none;
  word-break: break-all;
  word-wrap: break-all;
  white-space: pre-wrap;
  margin-bottom: var(--padding-step-1);
}

#version-menu > #version-ol > .version-item > div > .version-meta {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
}

#version-menu > #version-ol > .version-item > div > .version-meta > span {
  font-size: var(--font-size-step-0);
  text-decoration: none;
  color: var(--secondary-color);
  vertical-align: top;
  text-decoration: none;
  line-height: var(--font-size-step-0);
}

#version-menu > #version-ol > .version-item > div > .version-meta > span > a {
  text-decoration: none;
  color: var(--secondary-color);
  display: inline-block;
  line-height: var(--font-size-step-0);
}

#version-menu > #version-ol > .version-item > div > .version-title {
  font-size: calc(var(--font-size-step-5));
  line-height: calc(var(--font-size-step-1));
  vertical-align: top;
  text-align: left;
  margin-left: -2px;
}

#version-menu > #version-ol > .version-item > div > .version-title > a {
  text-decoration: none;
  color: var(--secondary-color);
  display: inline-block;
}

#footer-container > * > a {
    display: block;
    height: auto;
    width: auto;
    margin: 0 0 0 0;
    text-decoration: none;
    text-transform: uppercase;
}

.button_small {
  font-family: Jost;
  background-color: #FFFFFF;
  margin: 0 0 0 0;
  border: none;
  color: black;
  width: 160px;
  padding: 0px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
}

/* INTERACTIVE TYPE DIV */
#interactive-type {
  position: fixed;
  height: 100%;
  width: 70%;
  top: 0;
  right: 0;
  z-index: 1;
}

#interactive-type > canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#endorse {
  margin-left: var(--padding-step-4);
  margin-right: var(--padding-step-4);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4vw;
}

#endorse blockquote p {
  background: rgba(0, 0, 0, 0.75);
  padding: 20px;
  border-radius: 30px;
  display: block;
  font-family: Jost;
  font-size: 20px;
  border: 3px #222 solid;
}

/* MOBILE HANDLING */
@media screen and (max-width: 768px) {
  #interactive-type {
    width: 100%;
  }
  #version-menu > #version-ol {
    padding: var(--top-offset) calc(var(--padding-step-4)) calc(var(--top-offset)/2) calc(var(--padding-step-4));
  }
  #endorse {
    margin-left: var(--padding-step-4);
    margin-right: var(--padding-step-4);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 4vw;
  }
}
  
