---
layout: home
permalink: "/announcement/"
---

{%- from './_includes/macros/version-menu-item.njk' import versionMenuItem -%}

<table>
<tr>
<td valign="top">
<div id="version-menu">
  <ol id="version-ol">
  <div>
      <li style="font-size:250%">
      Announcement
      </li>
      </div>
    {% for version in collections.versions | sortDataByLanguageIso %}
      <li class="version-item">
        {{ versionMenuItem(
          githubLink = version.data.githubLink,
          dayStarted = version.data.dateStartedString.day,
          monthStarted = version.data.dateStartedString.month,
          yearStarted = version.data.dateStartedString.year,
          language = version.data.language.locale,
          contributeTranslated = version.data.translations.contribute,
          pluralityTranslated = version.data.translations.plurality,
          pageTitle = version.data.title,
          pageUrl = version.url)
        }}
      </li>
    {% endfor %}
  </ol>
</div>
</td>
</tr>
</table>
{% include "partials/footer.njk" %}