---
layout: home
permalink: "/chapters/"
---

{%- from './_includes/macros/chapterversion-menu-item.njk' import chapterVersionMenuItem -%}
<div id="chapter_container_mobile">
    <div style="margin:160px 0 0 0;height:182px;min-width:122px;">
        <center>
        <img width="146px" height="182px" src='../assets/favicons/bookcover_small.png'>
        </center>
    </div>
    <div style="margin-top:36px;">
        <center>
        <h2 style="font-size:48px">
        <span style="color:red">P </span><span style="color:orange">L </span><span style="color:green">U </span><span style="color:#1e90ff">R </span><span style="color:white">A </span><span style="color:#1e90ff">L </span><span style="color:green">I </span><span style="color:orange">T </span><span style="color:red">Y</span>
        </h2>
        <H2 style="font-size:24px;font-family: Jost;">The Future of Collaborative Technology and Democracy</H2>
<div style="display:inline-block;">
    </div>
<div>
            <span style="font-size:14px;font-family: Jost; display: inline-block; margin-bottom: 8px">You can read our working draft on this website, or you can download it to read offline:</span><br>
            <span style="text-transform: none;"><a href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-english.pdf" class="button_small" style="margin-bottom: 3px;">English (PDF)</a></span><br>
            <span style="text-transform: none;"><a href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-traditional-mandarin.pdf" class="button_small" style="margin-bottom: 3px;">Mandarin/華文 (PDF)</a></span><br>
            <span style="text-transform: none;"><a href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-english.epub" class="button_small" style="margin-bottom: 3px;">English (ePub)</a></span><br>
            <span style="text-transform: none;"><a href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-traditional-mandarin.epub" class="button_small" style="margin-bottom: 3px;">Mandarin/華文 (ePub)</a></span>
</div>
            </center>
    </div>
</div>
<div id="chapter_container_terminal">
    <div style="display:grid;float:left;margin:160px 0 0 96px;height:182px; width:122px;min-width:122px;">
        <center>
        <img width="146px" height="182px" src='../assets/favicons/bookcover_small.png'>
        </center>
    </div>

    <div style="display:grid;float:left;margin:136px 0 0 64px;height:242px; width:600px;min-width:500px;">
        <h2 style="font-size:48px">
        <span style="color:red">P </span><span style="color:orange">L </span><span style="color:green">U </span><span style="color:#1e90ff">R </span><span style="color:white">A </span><span style="color:#1e90ff">L </span><span style="color:green">I </span><span style="color:orange">T </span><span style="color:red">Y</span>
        </h2>
        <H2 style="font-size:24px;font-family: Jost;">The Future of Collaborative Technology and Democracy</H2>
<div style="display:inline-block;">
    </div>
<div>
            <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">You can read our working draft on this website, or you can download it to read offline:</span>
            <span style="text-transform: none;"><a href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-english.pdf" class="button_small" style="margin-bottom: 3px;">English (PDF)</a></span><br>
            <span style="text-transform: none;"><a href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-traditional-mandarin.pdf" class="button_small" style="margin-bottom: 3px;">Mandarin/華文 (PDF)</a></span><br>
            <span style="text-transform: none;"><a href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-english.epub" class="button_small" style="margin-bottom: 3px;">English (ePub)</a></span><br>
            <span style="text-transform: none;"><a href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-traditional-mandarin.epub" class="button_small" style="margin-bottom: 3px;">Mandarin/華文 (ePub)</a></span>
</div>
    </div>
</div>

<table id="chapter_container_table">
    <center>
<tr>
<td valign="top">
<div id="version-menu">
  <ol id="version-ol">
<div>
    {% for version in collections.chapterversions |sortDataByChapteridSubidLanguageIso %}
{% if ((version.data.language.en) == 'english')%}
</div>
{% if ((version.data.chapterid.chapterid_subid) == '0-1') %}
          <li style="font-size:40px;padding:0 28px;">Part {{ version.data.chapterid.chapterid }} {{ version.data.chapterid.section_title }}</li>
    <div>
        {% endif %}

{% if ((version.data.chapterid.chapterid_subid) == '3-0')
    or ((version.data.chapterid.chapterid_subid) == '2-0')
    or ((version.data.chapterid.chapterid_subid) == '1')
    or ((version.data.chapterid.chapterid_subid) == '4-0' )
    or ((version.data.chapterid.chapterid_subid) == '5-0' )
    or ((version.data.chapterid.chapterid_subid) == '6-0' )
    or ((version.data.chapterid.chapterid_subid) == '7-0' )
    %}
</div>
          <li style="font-size:40px;padding:56px 28px 0px 28px;">Part {{ version.data.chapterid.chapterid }} {{ version.data.chapterid.section_title }}</li>
    <div>
        {% endif %}
        {% endif %}

        {{ chapterVersionMenuItem(
          githubLink = version.data.githubLink,
          dayStarted = version.data.dateStartedString.day,
          monthStarted = version.data.dateStartedString.month,
          yearStarted = version.data.dateStartedString.year,
          language = version.data.language.en,
          contributeTranslated = version.data.translations.contribute,
          pluralityTranslated = version.data.translations.plurality,
          subtitleTranslated = version.data.translations.subtitle,
          pageTitle = version.data.title,
          pageUrl = version.url,
          chapterid_subid = version.data.chapterid.chapterid_subid)
        }}
    {% endfor %}
</div>
</td>
</tr>
    </center>
</table>
{% include "partials/footer.njk" %}
