---
layout: home
permalink: "/chapters/"
---

{%- from './_includes/macros/chapterversion-menu-item.njk' import chapterVersionMenuItem -%}

    <div id="component1"
    style="margin-top:160px;
    margin-bottom: 32px;
    /* Auto layout */
    display: flex;
    /*flex-direction: row;*/
    align-items: flex-start;
    padding-left: 64px;
    padding-bottom: 64px;
    padding-right: 64px;
    padding-top: 64px;

    gap: 16px;

    /*width: 1118px;*/
    /*height: 443px;*/

    background: rgba(255, 255, 255, 0.2);
    border-radius: 32px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;">
        <div id="component1-1"
        style="/* Auto layout */
        display: flex;
        /*flex-direction: row;*/
        justify-content: space-between;
        align-items: flex-start;
        padding: 0px;
        gap: 9px;

        /*width: 1120px;*/
        /*height: 315px;*/


        /* Inside auto layout */
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;">
            <div id="component1-2"
            style="/* Frame 2608407 */
            /* Auto layout */
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            /*align-items: flex-start;*/
            /*padding-top: 112px;*/
            gap:24px;
            /*width: 446px;*/
            /*height: 179px;*/
            /*height: 48px;*/

            /* Inside auto layout */
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
            ">
            <div id="component_plurality"
            style="/* PLURALITY */

            /*width: 255px;*/
            height: 61px;

            font-family: 'LanaPixel';
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 61px;
            /*text-align: left;*/
            letter-spacing: 0.15em;
            display: contents;
            color: #C6533D;

            /* Inside auto layout */
            flex: none;
            order: 0;
            flex-grow: 0;
            ">
        <span style="font-size:48px;margin-block-start:0px;">
        <span id="ideographic_digital" style="font-family: Iansui">⿻數位</span><span style="color:red">P</span><span style="color:orange">L</span><span style="color:green">U</span><span style="color:#1e90ff">R</span><span style="color:white">A</span><span style="color:#1e90ff">L</span><span style="color:green">I</span><span style="color:orange">T</span><span style="color:red">Y</span>
        </span>
            </div>
            <div style="width: 100%; color: white; font-size: 24px; font-family: Jost; font-weight: 400; word-wrap: break-word">The Future of Collaborative Technology and Democracy</div>
            <div style="width: 100%; color: white; font-size: 16px; font-family: Jost; font-weight: 400; word-wrap: break-word">To maintain our project, please either buy a copy or download and donate.</div>
            <div style="width: 100%; height: 100%; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                <div style="
                /*padding-left: 12px;*/
                 padding-right: 12px; background: white; border-radius: 4px; justify-content: flex-start; align-items: center; gap: 4px; display: flex">
                    <div style="position: relative">
                        <a target="_blank" href="https://amzn.to/3K4UDvO">
                        <div class="button_small" style="width: 128px;
                         /*height: 32px;*/
                          padding-top: 5px; padding-bottom: 5px; left: 0px; top: 0px; position: absolute; justify-content: flex-start; align-items: center; gap: 6px; display: inline-flex">
                            <div style="width: 12px; height: 12.78px; position: relative">
                                <div style="width: 12px; height: 3.31px; left: 0px; top: 9.47px; position: absolute">
                                    <div style="width: 10.90px; height: 3.03px; left: 0px; top: 0.28px; position: absolute; background: #FF9900"></div>
                                    <div style="width: 2.34px; height: 2.34px; left: 9.66px; top: -0px; position: absolute; background: #FF9900"></div>
                                </div>
                                <div style="width: 7.92px; height: 9.47px; left: 2.05px; top: 0px; position: absolute; background: #090909"></div>
                            </div>
                            <div style="text-align: center; color: black; font-size: 14px; font-family: Jost; font-weight: 500; line-height: 19px; word-wrap: break-word">Buy on Amazon</div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            </div>
            <div id="component1-video"
            style="
            /*width: 560px;*/
            height: 100%; position: relative; background: #040404">

<iframe
            src="https://www.youtube.com/embed/L_AAhYk6I3M?si=jKb2ecniP00ChhA_"
            title="YouTube video player"
            width="100%"
            height="315px"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
></iframe>
            </div>
        </div>
    </div>

        <div id="component2-top"
        style="/* Auto layout */
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0px;
        gap: 9px;

        /*width: 1248px;*/
        /*height: 315px;*/


        /* Inside auto layout */
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;">


<div id="component2" style="gap: 24px; width: 100%; height: 100%; justify-content: space-between; align-items: flex-start; display: inline-flex">
    <div id="component2-1" style="flex-direction: column; justify-content: flex-start;
     /*align-items: flex-start;*/
      gap: 24px; display: inline-flex">
        <div style="height: 132px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
            <div id="component2-1-1" style="height: 132px; padding: 32px; background:
            /*linear-gradient(0deg, white 0%, white 100%),*/
             linear-gradient(0deg, rgba(255,255,255,.2) 0%, rgba(255,255,255,.2) 100%),
             radial-gradient(54.27% 60.58% at 68.06% 5.92%, #FF9B00 0%, rgba(251, 176, 59, 0) 100%),
             radial-gradient(55.02% 57.93% at 48.25% 65.39%, #FF3A00 0%, rgba(0, 0, 0, 0) 100%),
             radial-gradient(45.26% 48.09% at 76.66% 67.16%, #0EB1D2 0%, rgba(0, 0, 0, 0) 100%),
             radial-gradient(46.19% 48.89% at 91.74% 68.92%, #1DC57D 0%, rgba(0, 0, 0, 0) 100%);
             /*radial-gradient(100.00% 100.00% at 91.74% 68.92%, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0) 100%);*/
              border-radius: 32px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 46px; display: flex">
                <div style="align-self: stretch; height: 68px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
                    <div style="align-self: stretch; height: 68px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                        <div style="align-self: stretch; color: white; font-size: 32px; font-family: LanaPixel; font-weight: 400; text-transform: uppercase; word-wrap: break-word">download</div>
                        <div style="color: white; font-size: 16px; font-family: Jost; font-weight: 400; word-wrap: break-word">Choose your language, and get your plural copies</div>
                    </div>
                </div>
            </div>
        </div>
  <style>

  /* info-box setup */

  .info-box {
    /*padding-left:calc(var(--padding-step-4)*2);*/
    /*padding-right:calc(var(--padding-step-4)*2);*/
    /*margin-top:26px;*/
    margin-bottom:200px;
    height: 100px;
    width:100%;
  }

  /* styling info-box tabs */

  ul[role="tablist"] {
    padding-left: 0;
    margin-top: 0;
  }

  li[role="tab"] {
    float: left;
    list-style-type: none;
    /*width: 150px;*/
    display: inline-block;
    line-height: 3;
    background-color: rgba(255,255,255,0.20);
    color: black;
    text-align: center;
  }

  li[role="tab"]:focus, li[role="tab"]:hover {
    background-color: rgba(255,255,255,0.10);
    color: white;
  }

  li[role="tab"].active {
    background-color: rgba(255,255,255,0.30);
    color: white;
  }

  /* styling info-box panels */

  .info-box .panels {
    clear: both;
    position: relative;
    height: auto;
    width:auto;
  }

  .info-box article {
    color: white;
    position: absolute;
    display: none;
    height: auto;
    /*width: 500px;*/
    top: 0;
    left: 0;
    float:left;
  }

  .info-box .active-panel {
    z-index: 1;
    display: grid;
  }
  select {
    font-size: 0.9rem;
    padding: 2px 5px;
    color: black;
  }
  option {
    color: black;
  }

</style>

        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
            <div id="component2-1-2" style="padding: 32px; background: rgba(255, 255, 255, 0.20); border-radius: 32px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
<section class="info-box">
<select id="book-language-select" style="width:192px;font-family: Jost; margin-bottom: 4px; margin-top: 4px;">
  <option value="">&#x1F310 Choose a language</option>
  <option value="en">&#x1F310 English</option>
  <option value="zh-tw">&#x1F310 華文</option>
  <option value="ja">&#x1F310 日本語</option>
</select>

<div class="panels" style="width:100%; margin-top:24px;">
    <article class="active-panel" role="tabpanel" aria-hidden="false">
<div style="margin-bottom: 24px">
    <span style="text-transform: none;"><a target="_blank" href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-english.pdf" class="button_small" style="margin-bottom: 3px;width:92px;">PDF</a></span>
    <span style="text-transform: none;"><a target="_blank" href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-english.epub" class="button_small" style="margin-bottom: 3px;width:92px;">ePub</a></span>
    <span style="text-transform: none;"><a target="_blank" href="" class="button_small" style="margin-bottom: 3px;width:auto;">Audiobook (coming soon)</a></span>
</div>

<div style="color: white; font-size: 16px; font-family: Jost; font-weight: 400; word-wrap: break-word">Click on any button to download the copy</div>

    </article>
    <article role="tabpanel" aria-hidden="true">
<div>
            <span style="text-transform: none;"><a target="_blank" href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-traditional-mandarin.pdf" class="button_small" style="margin-bottom: 3px; width:92px;">PDF</a></span>
            <span style="text-transform: none;"><a target="_blank" href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-traditional-mandarin.epub" class="button_small" style="margin-bottom: 3px; width:92px;">ePub</a></span>
            <span style="text-transform: none;"><a target="_blank" href="" class="button_small" style="margin-bottom: 3px;width:auto;">Audiobook (coming soon)</a></span>
<br><br>
            <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">選擇一個數位版本的下載格式，點擊按鈕以進行下載</span><br>
</div>
    </article>
    <article role="tabpanel" aria-hidden="true">
        <div>
            <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">解説</span><br>
            <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">
日本語版は機械翻訳をベースとしたものがScrapboxを用いたフォーラムで読むことができます。日本語話者にとってわかりやすくするための補足や用語解説、訳語選択の議論も行われています。
            </span><br>
            <span style="text-transform: none;display: inline-block; "><a target="_blank" href="https://scrapbox.io/plurality-japanese/%E5%88%9D%E3%82%81%E3%81%AB%E8%AA%AD%E3%82%93%E3%81%A7%E3%81%AD" class="button_small" style="margin-bottom: 3px; width: 70%;">Japanese/日本語 (Scrapbox)</a></span>
        </div>
    </article>
  </div>
</section>

            </div>
        </div>
    </div>


    <div id="component2-2" style="align-self: stretch; padding: 32px; background: rgba(255, 255, 255, 0.20); border-radius: 32px; flex-direction: column; align-items: flex-start; display: inline-flex">
        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
            <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
                <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                    <div style="color: white; font-size: 32px; font-family: LanaPixel; font-weight: 400; text-transform: uppercase; word-wrap: break-word">YOUR DONATION MEANS OTHERS CAN ENJOY!</div>
                </div>
            </div>
            <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">
Before you download, please consider donating $4 or more to help us maintain this website through <a target="_blank" href="https://www.paypal.com/donate/?hosted_button_id=3Q6BS9ZA595ZS">PayPal</a> or <a target="_blank" href="https://commerce.coinbase.com/checkout/aab4f708-439b-47ac-a68b-adf0613747bd">Coinbase</a> donation.  If you choose, you will receive credit on our ledger for your donation, empowering you to participate in the future evolution of the project, along with a US tax deduction.</span><br>
        </div>
        <div style="padding-bottom:60px; width: 240px; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
            <div style="padding-left: 12px; padding-right: 12px; background: white; border-radius: 4px; justify-content: flex-start; align-items: center; gap: 4px; display: flex">
                <div style="width: 41px; position: relative">
<a target="_blank" href="https://www.paypal.com/donate/?hosted_button_id=3Q6BS9ZA595ZS">
                    <div class="button_small" style="width: 41px;
                     height: 32px;
                     padding-top: 5px; padding-bottom: 5px; left: 0px; top: 0px; position: absolute; justify-content: flex-start; align-items: center; gap: 6px; display: inline-flex">
                        <div style="text-align: center; color: black; font-size: 14px; font-family: Jost; font-weight: 500; line-height: 19px; word-wrap: break-word">PayPal</div>
                    </div>
                </div>
</a>
            </div>
            <div style="padding-left: 12px; padding-right: 12px; background: white; border-radius: 4px; justify-content: flex-start; align-items: center; gap: 4px; display: flex">
                <div style="width: 58px; position: relative">
<a target="_blank" href="https://commerce.coinbase.com/checkout/aab4f708-439b-47ac-a68b-adf0613747bd">
                    <div class="button_small" style="width: 58px;
                     height: 32px;
                     padding-top: 5px; padding-bottom: 5px; left: 0px; top: 0px; position: absolute; justify-content: flex-start; align-items: center; gap: 6px; display: inline-flex">
                        <div style="text-align: center; color: black; font-size: 14px; font-family: Jost; font-weight: 500; line-height: 19px; word-wrap: break-word">Coinbase</div>
                    </div>
</a>
                </div>
            </div>
        </div>
    </div>
                </div>

</div>

<script>
let urlParameters = new Map(window.location.search.slice(1).split('&').map(param => param.split('=')))

let tabs = document.querySelectorAll('select');
let panels = document.querySelectorAll('.info-box article');
let options = document.querySelectorAll('select option');

setTabHandler(tabs[0]);

function setTab(e) {

  const selectedIndex = this.selectedIndex;

  for(let i = 0; i < panels.length; i++) {
    if(i == ( selectedIndex - 1) ) {
        panels[i].setAttribute('aria-hidden', 'false');
        panels[i].setAttribute('class', 'active-panel');
    } else {
        panels[i].setAttribute('aria-hidden', 'true');
        panels[i].classList.remove("active-panel")
    }

  }
}

function setTabHandler(tab) {
  tab.addEventListener('change', setTab);
}
setMode(urlParameters);
function setMode(urlParameters) {
  let languageSelected;

  if (urlParameters[0]) {
      languageSelected = urlParameters.get("lang");
  } else {
      languageSelected = "en";
  }
  for(let i = 1; i < tabs[0].length; i++) {
      if (tabs[0][i].value == languageSelected) {
          panels[i - 1].setAttribute('aria-hidden', 'false');
          panels[i - 1].setAttribute('class', 'active-panel');
          options[i].selected = true;
      } else {
          panels[i - 1].setAttribute('aria-hidden', 'true');
          panels[i - 1].classList.remove("active-panel")
          options[i].selected = false;
      }

  }
}
</script>

<style>
.panels {
    width:512px;
}
#component1-1 {
width:1118px;
flex-direction: row;
}
#component1-2 {
    padding-bottom: 64px;
    align-items:flex-start;
    width:446px;
}
#component1 {
width: 1118px;
flex-direction: row;
margin-left:calc(var(--padding-step-4)*2);
margin-right:calc(var(--padding-step-4)*2);

}
#component1-video {
    width:560px;
}
#component2-1-1 {
    width: 484px;
}
#component2-1-2 {
    width: 484px;
}
#component2-top {
    width: 1248px;
    margin-left:calc(var(--padding-step-4)*2);
    margin-right:calc(var(--padding-step-4)*2);
}
#component2-1 {
    width: 612px;
}
#component2-2 {
    width: 612px;
}

/* For screens wider than 600px, change the flex direction to row */
@media all and (max-width: 1200px) {
    .panels {
        width:100%;
    }
    #component_plurality {
        text-align: center;
    }
    #ideographic_digital {
        display: none;
    }
    #component1-1 {
        display: flex;
        flex-direction: column;
        width:100%;
    }
    #component1-2 {
        width:100%;
        align-items:center;
    }
    #component1-video {
        width:95%;
    }
    #component1 {
        order: 2;
        width: 63%;
        flex-direction: column;
        text-align:center;
        align-content: center;
        margin-left:calc(var(--padding-step-4));
        margin-right:calc(var(--padding-step-4));
    }
    #component2 {
        width: 100%;
        flex-direction: column;
    }
    #component2-1 {
        width: 100%;
        order: 2;
    }
    #component2-1-1 {
        width: 100%;
    }
    #component2-1-2 {
        width: 100%;
    }
    #component2-2 {
        order: 1;
        width: 100%;
    }
    #component2-top {
        width: 70%;
        margin-left:calc(var(--padding-step-4));
        margin-right:calc(var(--padding-step-4));
    }

}
</style>


<table id="chapter_container_table">
    <center>
<tr>
<td valign="top">
<div id="version-menu">
  <ol id="version-ol">
<div>
    {% for version in collections.chapterversions |sortDataByChapteridSubidLanguageIso %}
{% if ((version.data.language.en) == 'english')%}
</div>
{% if ((version.data.chapterid.chapterid_subid) == '0-1') %}
          <li style="font-size:40px;padding:0 28px;">Part {{ version.data.chapterid.chapterid }} {{ version.data.chapterid.section_title }}</li>
    <div>
        {% endif %}

{% if ((version.data.chapterid.chapterid_subid) == '3-0')
    or ((version.data.chapterid.chapterid_subid) == '2-0')
    or ((version.data.chapterid.chapterid_subid) == '1')
    or ((version.data.chapterid.chapterid_subid) == '4-0' )
    or ((version.data.chapterid.chapterid_subid) == '5-0' )
    or ((version.data.chapterid.chapterid_subid) == '6-0' )
    or ((version.data.chapterid.chapterid_subid) == '7-0' )
    %}
</div>
          <li style="font-size:40px;padding:56px 28px 0px 28px;">Part {{ version.data.chapterid.chapterid }} {{ version.data.chapterid.section_title }}</li>
    <div>
        {% endif %}
        {% endif %}

        {{ chapterVersionMenuItem(
          githubLink = version.data.githubLink,
          dayStarted = version.data.dateStartedString.day,
          monthStarted = version.data.dateStartedString.month,
          yearStarted = version.data.dateStartedString.year,
          language = version.data.language.en,
          contributeTranslated = version.data.translations.contribute,
          pluralityTranslated = version.data.translations.plurality,
          subtitleTranslated = version.data.translations.subtitle,
          pageTitle = version.data.title,
          pageUrl = version.url,
          chapterid_subid = version.data.chapterid.chapterid_subid)
        }}
    {% endfor %}
</div>
</td>
</tr>
    </center>
</table>
{% include "partials/footer.njk" %}
