---
layout: endorsement_layout
permalink: "/endorsements/main/"
---
<div>Endorsements (<a href="../eng/">English</a>) / 名家推薦 (<a href="../zh-tw/">華文</a>)</div>
<div></div><div></div>
{% readdynamiccodeRender 'https://raw.githubusercontent.com/pluralitybook/plurality/main/contents/english/0-0-endorsements.md' %}
<br>
<br>
