---
layout: endorsement_layout
permalink: "/endorsements/"
---
{% readdynamiccodeRender 'https://raw.githubusercontent.com/pluralitybook/plurality/main/contents/english/0-0-endorsements.md' %}
<br>
<br>
